
.lowerdrop{text-indent: 1px;}
body {
	text-align: center;
	margin: 10%;
	color: black;
	
	font-family: Times, sans-serif;
	opacity: 1.0;
	background-color:#00ee76;
}
.drop{text-indent: 100px;}
.bigger{
	font-size:350%;
}